:root {
    --primary: #302924;
    --secondary:#bfa77a;
    --bg: #010101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 2000px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 7%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: var(--secondary);
}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid #fff;
    transform: scaleX(0);
    transition: 0.1s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.2rem;
}

.navbar .navbar-extra a:hover{
    color: var(--secondary);
}

#menu{
    display: none;
}

/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/ZeinStore/img/header-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg,rgba(1,1,3,1)8%, rgba(255,255,255,0)50%);
}

.hero .content {
    padding: 1.4rem 10%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1 ,1 ,3 , 0.5);
    line-height: 1.1;
}

.hero .content span{
    color: #d6ba73;
}

.hero .content p{
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 3px rgba(1 ,1 ,3 , 0.5);
}

.hero .content a{
    display: inline-block;
    color: #fff;
    background-color: #568259;
    margin-top: 2rem;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
    box-shadow: 1px 1px 3px rgba(1 ,1 ,3 , 0.5);
}
/* Product section */
.product {
    padding: 6rem 7% 1.4rem;
}

.product .container{
    display: flex;
    padding: 3rem;
    gap: 1rem;
}

.product h1{
    font-size: 2.6rem;
    text-align: center;
}

.product .container .card{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    
}

.product .container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.product .container .card .card-body p{
    color: #010101;
}


.product .container a{
    display: inline-block;
    color: #fff;
    background-color: #568259;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 3px rgba(1 ,1 ,3 , 0.5);
}

/* about section */
.about{
    padding: 6rem 7% 1.4rem;
}

.about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size: 100%;
    }
}

/* Tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
    #menu{
        display: inline-block;
    }

    

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--secondary);
        width: 30rem;
        height: 100vh;
        transition: 0.2s;
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a:hover{
        color: #fff;
    }

    .navbar .navbar-nav a::after{
        content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: none;
    }

    
}

/* Mobile */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}